{{- $defaultProfile := "server" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $defaultProfile = "workstation" -}}
{{- end -}}
{{- $profile := promptChoiceOnce . "profile" "Machine profile" (list "workstation" "server") $defaultProfile -}}
{{- $systemPackages := promptBoolOnce . "manageSystemPackages" "Install operating-system packages" true -}}

sourceDir = {{ .chezmoi.workingTree | quote }}
umask = 0o022

[data]
profile = {{ $profile | quote }}
manageSystemPackages = {{ $systemPackages }}
enableOnePassword = {{ and (eq .chezmoi.os "darwin") (eq $profile "workstation") }}
gitName = "albrtcrt"
gitEmail = "85366724+albrtcrt@users.noreply.github.com"
